body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Breadcrumb */

.breadcrumb {
  font-size: 0.8em;
  color: #aaa;
  margin: 0 0 0.5em;
}

.breadcrumb a {
  color: #aaa;
  text-decoration: none;
}

.breadcrumb a:hover {
  color: #666;
  text-decoration: underline;
}

.breadcrumb .sep {
  margin: 0 0.3em;
}

/* Headings */

h1 {
  font-size: 1.8em;
  line-height: 1.2;
  margin: 0 0 0.25em;
}

h2 {
  font-size: 1.3em;
  line-height: 1.3;
  margin: 1.5em 0 0.4em;
}

h3 {
  font-size: 1.1em;
  line-height: 1.3;
  margin: 1.25em 0 0.3em;
}

/* Links */

a {
  color: #07c;
}

a:visited {
  color: #941352;
}

/* Index site header */

.site-header {
  margin-bottom: 2em;
}

.site-header h1 {
  margin-bottom: 0.1em;
}

.site-header p {
  color: #888;
  margin: 0;
}

/* Post list */

.post-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.post-list li {
  padding: 0.2em 0;
}

/* Article */

article ul,
article ol {
  padding-left: 1.5em;
}

/* Blockquote */

blockquote {
  margin: 1em 0 1em 1.5em;
  padding-left: 1em;
  border-left: 3px solid #ddd;
  color: #666;
}

/* Code */

pre,
code {
  font-family: "Courier New", Courier, monospace;
  font-size: 0.9em;
}

pre {
  white-space: pre-wrap;
}

/* Footnotes */

.footnotes {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid #ddd;
  font-size: 0.85em;
  color: #777;
}

.footnotes hr {
  display: none;
}
